<!DOCTYPE configuration
    PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-config.dtd">
 
<configuration>

 	
	<!--     
	<settings>
    </settings> 
    -->

 	<typeAliases>
 		<typeAlias type="java.util.HashMap" alias="hashmap"/>
 	</typeAliases>

    
</configuration>