<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.wind.myapp.sample.service.SampleMapper">

	<select id="selectListBySQL"  resultType="com.wind.myapp.sample.service.SampleVO" >
		select * from tb_sample where id in ('222','444')
	</select>
	
	
	<select id="selectPageBySQL"  resultType="com.wind.myapp.sample.service.SampleVO" >
		select * from tb_sample where id > '555'
	</select>
	
</mapper>