<!DOCTYPE HTML>
<html>
<body>

    <th:block th:fragment="scripts(customLinks)">
		<!-- ### load script just befor end of body  ### -->

		<!-- development version, includes helpful console warnings -->
		<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

		<!-- production version, optimized for size and speed 
		<script src="https://cdn.jsdelivr.net/npm/vue"></script>
		-->

		<!-- ajax -->
		<script src="https://unpkg.com/axios/dist/axios.min.js"></script>

		<!-- utils -->
		<script src="/js/vue_common.js"></script>

		<th:block th:replace="${customLinks}" ></th:block>
    </th:block>


    <div th:fragment="copy">
      &copy; 2018 wind 
    </div>
</body>
</html>