<!DOCTYPE HTML>
<html>

<head>
	<title>my-sample-boot</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

	<style>
		.division {
			margin:5px;
		}
	</style>
</head>

<body>
	
	<!-- container -->
	<div id="app">
		
		<template v-if="viewFlag" >
			{{ message }}
		</template>
		<template v-else >
			No msg.
		</template>

		<ul>
			<li v-for="(item, index) in items" :key="item.text"  @click="sayHello( item, index );" >
				{{index}} - {{item.text}}
			</li>
		</ul>

		<div class="division" ></div>

		<div >
			<input type="checkbox" id="chkViewFlag" v-model="viewFlag">
			<label for="chkViewFlag">viewFlag setting: {{ viewFlag }}</label>
		</div>

		<div class="division" ></div>

		<!-- -->
		<div >
			<button-counter title="I'm button." @cs-say-hi="onCsSayHi" ></button-counter>
		</div>

	</div>

	<!-- footer -->
	<div th:replace="~{html/footer :: copy}" ></div>


	<!-- scripts -->
	<div th:replace="~{html/footer :: scripts(~{::script})}" >
		
		<!-- component -->
		<script src="./comp-button-counter.js"></script>
		
		<!-- app -->
		<script>
				// app
				var app = new Vue({
					el: '#app',
					data: {
						message: 'Hello Vue3  !!!',
						viewFlag: true,
						items: [{
							text: 'pear'
						}, {
							text: 'apple'
						}, {
							text: 'banana'
						}]
					},
					methods: {
						sayHello: function(item, index) {
							alert('hello: ' + index + '--' + item.text);
						}
						,onCsSayHi: function(title) {
							alert( 'hi: title=' + title );
						}
					}
				});
				
				//test
				window.app = app;
		</script>

	</div>
	
</body>
</html>