<!DOCTYPE html>
<html>

<head>
	<title>my-sample-boot</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

	<style>
		.division {
			margin:5px;
		}
	</style>
</head>

<body>
	
	<!-- container -->
	<div id="app">
		
		<template v-if="viewFlag" >
			{{ message | msgFilter }}
		</template>
		<template v-else >
			No msg.
		</template>

		<ul>
			<li v-for="(item, index) in items" :key="item.text"  @click="sayHello( item, index );" >
				{{index}} - {{item.text}}
			</li>
		</ul>

		<div class="division" ></div>

		<div >
			<input type="checkbox" id="chkViewFlag" v-model="viewFlag">
			<label for="chkViewFlag">viewFlag setting: {{ viewFlag }}</label>
		</div>

		<div class="division" ></div>

		<!-- -->
		<div >
			<button-counter title="I'm button." @cs-say-hi="onCsSayHi" ></button-counter>
		</div>

	</div>

	<!-- footer -->
	<div th:replace="~{html/common/fragments :: copy}" ></div>


	<!-- scripts -->
	<div th:replace="~{html/common/fragments :: scripts(~{::script})}" >
		
		<!-- component -->
		<script src="/html/common/comp-button-counter.js" th:src="@{/html/common/comp-button-counter.js}"></script>
		
		<!-- app -->
		<script src="./vue_test.js"></script>

	</div>
	
</body>
</html>