<!DOCTYPE HTML>
<html>

<head>
	<title>my-sample-boot</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<!-- development version, includes helpful console warnings -->
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

	<!-- production version, optimized for size and speed 
	<script src="https://cdn.jsdelivr.net/npm/vue"></script>
	-->

	<style>
		.division {
			margin:5px;
		}
	</style>

	<script>
		window.onload = function () {

			// Define a new component called button-counter
			Vue.component('button-counter', {
				props: ['title'],
				data: function () {
					return {
					count: 0
					}
				},
				template: 
				`
				<div>
					<h3>{{title}}</h3>
					<button v-on:click=" count++ ">
						You clicked me {{ count }} times.
					</button>
					<br/>
					<button v-on:click=" $emit('cs-say-hi', title) ">
						hi
					</button>
				</div>
				`
			})
			
			// app
			var app = new Vue({
				el: '#app',
				data: {
					message: 'Hello Vue !!!',
					viewFlag: true,
					items: [{
						text: 'pear'
					}, {
						text: 'apple'
					}, {
						text: 'banana'
					}]
				},
				methods: {
					sayHello: function(item, index) {
						alert('hello: ' + index + '--' + item.text);
					}
					,onCsSayHi: function(title) {
						alert( 'hi: title=' + title );
					}
				}
			});
			
			//test
			window.app = app;

		};
	</script>
</head>

<body>
	<div id="app">
		
		<template v-if="viewFlag" >
			{{ message }}
		</template>
		<template v-else >
			No msg.
		</template>

		<ul>
			<li v-for="(item, index) in items" :key="item.text"  @click="sayHello( item, index );" >
				{{index}} - {{item.text}}
			</li>
		</ul>

		<div class="division" ></div>

		<div >
			<input type="checkbox" id="chkViewFlag" v-model="viewFlag">
			<label for="chkViewFlag">viewFlag setting: {{ viewFlag }}</label>
		</div>

		<div class="division" ></div>

		<div >
			<button-counter title="I'm button." @cs-say-hi="onCsSayHi" ></button-counter>
		</div>

	</div>
</body>

</html>